.crane-details-container {
    padding: 2rem;
    text-align: center;
  }
  
  .back-to-home-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .back-to-home-button:hover {
    background-color: #0056b3;
  }
  